<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/05.2.1异常处理【5.2】数值格式异常处理/src/IntArray/IntArray5.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="IntArray.IntArray5"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="05.2.1异常处理【5.2】数值格式异常处理"/>
</launchConfiguration>
