<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/03.4.4多态的方法实现【3.6】Object对象数组/src/Object/ObjectArrayTest.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Object.ObjectArrayTest"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="03.4.4多态的方法实现【3.6】Object对象数组"/>
</launchConfiguration>
